<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lawrence.scorekeeper.app">

    <application
            android:allowBackup="true"
            android:icon="@drawable/scorekeeper_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.lawrenceqiu.scorekeeper.app.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.lawrenceqiu.scorekeeper.app.Game"
                android:parentActivityName="com.lawrenceqiu.scorekeeper.app.MainActivity"/>
        <activity
                android:name="com.lawrenceqiu.scorekeeper.app.LoadGame"
                android:parentActivityName="com.lawrenceqiu.scorekeeper.app.MainActivity"/>
        <activity
                android:name="com.lawrenceqiu.scorekeeper.app.SettingsActivity"
                android:parentActivityName="com.lawrenceqiu.scorekeeper.app.MainActivity"/>
    </application>

</manifest>
